@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
    <div id="content">
        <article>
            <header class="major">
                <h2>Witamy na stronie firmy budowalnej Monolit</h2>
                <p>Buduj z nami swoją przyszłość</p>
            </header>
            <span class="image featured"><img src="~/img/bg.png" alt="welcome" /> </span>
        </article>
    </div>
</div>