<div class="col-4 col-12-medium">
    <div id="sidebar">
        <section>
            <header class="major">
                <h2>Welcome</h2>
            </header>
            <p>
                Budujemy z pasją, tworzymy z jakością. Nasza firma oferuje kompleksowe usługi budowlane, 
                które spełniają najwyższe standardy. Dzięki doświadczeniu i profesjonalizmowi jesteśmy w stanie 
                zrealizować nawet najbardziej wymagające projekty. Zapewniamy indywidualne podejście do każdego 
                klienta oraz terminową realizację inwestycji. Zaufaj ekspertom i stwórz z nami przestrzeń, 
                która spełni Twoje oczekiwania.
            </p>
            <footer>
                <a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
                    Dowiedz się więcej
                </a>
            </footer>
        </section>
    </div>
</div>